.PageNotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    color: #50BFFC;
}

.PageNotFound img {
    mix-blend-mode:darken;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    transform: translateX(10%);
    opacity: 0.8;
}

.PageNotFound button {
    background-color: var(--Prime-500);
    border: 0px solid transparent;
    color: white;
}

.PageNotFound button:hover {
    background-color: var(--Prime-700);

}